[submodule "vendor/libaec"]
	path = vendor/libaec
	url = https://gitlab.dkrz.de/k202009/libaec.git
[submodule "vendor/libcorrect"]
	path = vendor/libcorrect
	url = https://github.com/pietern/libcorrect.git
[submodule "vendor/sanitizers-cmake"]
	path = vendor/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake.git
[submodule "vendor/tinytoml"]
	path = vendor/tinytoml
	url = https://github.com/mayah/tinytoml.git
[submodule "vendor/nanomsg"]
	path = vendor/nanomsg
	url = https://github.com/nanomsg/nanomsg.git
